body {
  --black: #000000;

  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;


  --background: var(--green);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  height: 10000vh;
}

* {
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; 
  user-select: none;
  cursor: none;
}



::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}


section {
  width: 100vw;
  position: fixed;
  height: 100vh;
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 20px auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}


.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #D44343;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;                                      
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.container {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}


.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  text-decoration: underline;
  transition: 150ms ease;
  cursor: pointer;
}

.sell:hover {
  color: #D44343;
}

.buy:hover {
  color: #29B550;
}